.cr-deposit-crypto {
  background: var(--background);
  color: var(--text-light-grey);
  font-size: calc(var(--gap) * 2.5);
  padding: calc(var(--gap) * 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__copyable {
    &-title {
      color: var(--base-2);
      font-size: calc(var(--gap) * 1.5);
      margin-bottom: 1.2em;
    }

    &-area {
      margin-bottom: calc(var(--gap) * 1.5);
      padding: 0.7em 1em;
    }
  }
}

.cr-deposit-info {
  margin-bottom: calc(var(--gap) * 3);
}

.qr-code {
  margin-top: calc(var(--gap) * 4.4);
}
