.cr-input-block {
  background-color: var(--input-block-bg);
  border: 1px solid var(--input-block-border-color);
  color: var(--input-block-color);
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  justify-content: space-between;
  line-height: normal;
  padding-bottom: 13px;
  padding-top: 17px;
  padding-left: 17px;
  padding-right: 17px;

  &__input {
    border-bottom: 1px solid var(--input-block-input-border-color);

    input {
      background-color: inherit;
      color: var(--input-block-input-color);
    }
  }
}
